.container {
  text-align: center;
}

#gif-form {
  text-align: center;
}

.instructions {
  text-align: center;
}

h1 {
  font-family: 'Faster One', cursive;
}
.display-4 {
  font-family: 'Faster One', cursive;
}
